.footer--principal {
  display: flex;
  height: auto;
  padding: 0 20px 20px 20px;
  margin-top: 30px;
  background-color: $color-primario;
  flex-direction: column;
  .logo {
    width: 100%;
  }
  @include media(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include media(desktop-s) {
    height: 160px;
    .logo {
      width: unset;
    }
  }
}
.nav--footer {
  ul {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 0;
  }
  li {
    list-style: none;
    margin-right: 25px;
  }
  a {
    color: get-opacity($color-claro, 0.7);
    @include titulos($Fuente2);
  }

  @include media(tablet) {
    margin-right: 30px;
    ul {
      flex-direction: row;
    }
  }

  @include media(desktop-s) {
    margin-right: unset;
    a {
      color: $color-claro;
    }
    li {
      margin-right: 50px;
    }
  }
}
.nav--social {
  margin: 0;
  ul {
    display: flex;
    padding-top: 35px;
    padding-left: 0%;
  }
  li {
    list-style: none;
    margin-right: 20px;
    color: get-opacity($color-claro, 0.7);
  }
  a {
    color: get-opacity($color-claro, 0.7);
    @include titulos($Fuente2);
  }
  @include media(desktop-s) {
    margin-left: auto;
    margin-right: unset;
    li {
      margin-right: 50px;
      color: $color-claro;
    }
    a {
      color: $color-claro;
    }
  }
}
